pip==19.0.3  # pyup: update minor
bumpversion==0.5.3  # pyup: update minor
wheel==0.35.1  # pyup: update minor
watchdog==0.9.0  # pyup: update minor
flake8==3.7.6  # pyup: update minor
tox==3.8.6  # pyup: update minor
coverage==4.5.1  # pyup: update minor
Sphinx==2.0.1  # pyup: update minor
cryptography==2.6.1  # pyup: update minor
PyYAML==5.1  # pyup: update minor
pytest==4.4.0  # pyup: update minor
pytest-runner==4.2  # pyup: update minor
pytest-asyncio==0.10.0  # pyup: update minor
