pip==18.1  # pyup: update minor
bumpversion==0.5.3  # pyup: update minor
wheel==0.32.2  # pyup: update minor
watchdog==0.9.0  # pyup: update minor
flake8==3.6.0  # pyup: update minor
tox==3.5.2  # pyup: update minor
coverage==4.5.1  # pyup: update minor
Sphinx==1.8.1  # pyup: update minor
cryptography==2.3.1  # pyup: update minor
PyYAML==3.13  # pyup: update minor
pytest==4.4.0  # pyup: update minor
pytest-runner==4.2  # pyup: update minor
pytest-asyncio==0.9.0  # pyup: update minor
